{% extends 'core/base.html' %}
{% load tailwind_filters %}

{% block title %}
    Update {{ transaction.transaction_id }}
{% endblock %}

{% block content %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/smoothness/jquery-ui.css">
    <script>
        $(function() {
            $('.datepicker').datepicker({
                dateFormat: 'yy-mm-dd',  // Set the desired date format
                showButtonPanel: true,   // Show the button panel with Today and Done buttons
            });
        });
    </script>
        

    <h1 class="text-2xl uppercase">UPDATE {{ transaction.transaction_id }}</h1>
    <hr> <br>
    {% if messages %}
        <div class="bg-green-100 border-t border-b border-green-500 text-green-700 px-4 py-3" role="alert">
            {% for message in messages %}
                <p id="messages"> {{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}      
    <form method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}  
        <br> <br>
        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-8 rounded">Update</button>
        <!-- https://youtu.be/I2-JYxnSiB0 -->
    </form>
{% endblock %}
